{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<div class="jumbotron">
  <h2 class="display-4">About Harvard Soccer</h2>
  <p class="lead">Learn About Our Team</p>
  <hr class="my-4">
   <p class="lead">Harvard Men's Soccer</p>
   <p>The Men's soccer team is coached by The Virginia B. and James O. Welch, Jr. '52 Head Coach,
   Pieter Lehrer, who is assisted by Francesco D'agostino and Michael Fucito. After going 3-13
   in the 2018 season, they are hoping to reboot with a great incoming class for next season.
   The new captains are Taner Dogan '20 and Matthew Glass '20. Last winning the Ivy League Championship
   in 2009, the captains have solidified regaining the trophy as their number one priority for next
   season. The team has accomplished putting several players into professional environments after
   graduating over the past few years, including Timothy Schmoll '16 and Andrew Omiunu-Wheeler '17.</p>
  <hr class="my-4">
   <p class="lead">Harvard Women's Soccer</p>
   <p>After a very impressive 2018 campaign, going 7-7-1 overall and 4-2-1 in the Ivy League
   (placing 2nd), the Women's team is graduating 5 seniors this year. Chris Hamblin, the The Branca
   Family Head Coach for Women's Soccer, and his assistants Mike Calise and Mark McDevitt, are also
   looking to win the full Ivy League championship in the 2019 season. Leading scorer Leah Mohammadi
   '19 and Zayne Matulis '19 were the captains for this previous season, and the team will be captained
   by Meg Tveit '20 and Kimaya Cole '20. 2016 was the last time the team won the Ivy League championship.</p>
</div>

{% endblock %}
