{% extends "layout.html" %}

{% block title %}
    Players
{% endblock %}

{% block main %}
<div class="row">
{% for player in players %}
  <div class="col-sm-6">
    <div class="card" style="width: 30rem">
      <img class="card-img-top" src="{{ player.image }}" onerror=this.src="https://upload.wikimedia.org/wikipedia/commons/9/95/John_Harvard_Statue_right_side_of_head.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">{{ player.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ player.plans }}</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Contact:</strong> {{ player.email }}</li>
          <li class="list-group-item"><strong>Hometown:</strong> {{ player.hometown }}</li>
          <li class="list-group-item"><strong>Graduation Year:</strong> {{ player.year }}</li>
          <li class="list-group-item"><strong>Team:</strong> {{ player.team }}</li>
          <li class="list-group-item"><strong>Concentration:</strong> {{ player.concentration }}</li>
          <li class="list-group-item"><strong>Interests:</strong> {% for interest in players_dict[player.id]  %}  {{ interest }} {% endfor %}</li>
          <li class="list-group-item"><strong>Ideal Summer Internship:</strong> {{ player.internship }}</li>
          <li class="list-group-item"><strong>Ideal Job:</strong> {{ player.postgrad }}</li>
          <li class="list-group-item"><strong>Longterm Career:</strong> {{ player.longterm }}</li>
        </ul>
      </div>
      <div class="card-body">
        <a href="{{ player.linkedin }}" class="card-link">LinkedIn</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
