{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <!-- Register for that takes input email, password, and password confirmation -->
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Enter Harvard Email" type="email">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password Confirmattion" type="password">
        </div>
        <button class="btn btn-danger" type="submit">Register</button>
    </form>
    <footer class="small text-center text-muted">
        Have an account? <a href="/login">Login</a>
    </footer>

    <!--Javascript code that on submission sends email to check function to make sure it has not been taken-->
    <script>
        document.querySelector('form').onsubmit = function(event){
            event.preventDefault();
            $.get("/check", {email: document.querySelector("input[name = email]").value},function(data){
                if (data)
                {
                    document.querySelector('form').submit();
                }
                else
                {
                    alert("Email is taken. Choose a different email");
                }
            });
        };
    </script>

{% endblock %}
