{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">Learn About the Creators</p>
  <hr class="my-4">
  <p>The creation of this site was, in the beginning, a project for a computer science class at Harvard.
  Nonetheless, we hope that it carries well beyond the scope ofthe project and facilitates the connection
  between undergraduates and alumni for many years to come! It was designed and created by Alex Debayo-Doherty
  '22, Matt Freese '21, and David Paquette '22. Alex is a winger on the team coming from McLean, Virginia,
  and is undecided on a concentration at this point. Matt and David are both goalkeepers,
  the former from Wayne, Pennsylvania and the latter from Petoskey, Michigan. Matt has declared his
  concentration to be Honors Economics with a secondary in Computer Science. David has not yet declared
  his concentration. </p>
</div>

{% endblock %}
